

<h1>Promesses - async await</h1>
<p>Les promesses possèdent 2 callbacks en paramètre de succès et d'erreur</p>

<h3>async</h3>

<p>Le mot clef <code>async</code> se place devant une déclaration de fonction pour la transformer en fonction asynchrone.
  Utiliser le mot clef <code>async</code> devant une fonction va faire que la fonction en question va toujours retourner une promesse. Dans le cas où la fonction retourne explicitement une valeur qui n’est pas une promesse, alors cette valeur sera automatiquement enveloppée dans une promesse.</p>

<h3>await</h3>

<p>Ce mot clef permet d’interrompre l’exécution d’une fonction asynchrone tant qu’une promesse n’est pas résolue ou rejetée. La fonction asynchrone reprend ensuite puis renvoie la valeur de résolution.</p>
<p>On suspend l'exécution de <code>async asyncAwait()</code> tant que la Promise <code>promise</code> n'est pas résolue</p>
<p>Cela ne consomme aucune ressource supplémentaire puisque le moteur peut effectuer d’autres tâches en attendant</p>
<p><code>await</code> est l'équivalent de la syntaxe <code>then()</code>.</p>

<img src="/assets/promesse.png" alt="">

<code>setTimeout()</code> est une méthode de l'objet <code>window</code>
<p>L'objet window représente une fenêtre contenant un document DOM; la propriété document pointe vers le document DOM chargé dans cette fenêtre.</p>


<h1>setTimeout()</h1>

<p>Le moteur JS créé un contexte d'exécution et place <code>setTimeout()</code>dans la pile d'appel.</p>
<p><code>setTimeout()</code> exécute et créé un timer ds le composant des APIs Web ds le navigateur.
Quand le timer expire, la fonction callback passée en param est placée ds la file d’attente de callback</p>
<p>La boucle d’événements surveille à la fois la pile d’appels et la file d’attente de callback.</p>

<p>Exemple</p>
<img src="/assets/Capture1.png" alt="">

<p>1 - <code>setTimeout()</code> est placée ds la pile d'appel : création timer ds API web.</p>
<img src="src/assets/Capture2.PNG" alt="">

<p>2 Après 3 sec : expiration timer la tâche est poussée ds la file d'attente de callback, on attend la prochaine occasion pour l'exécuter.</p>
<img src="src/assets/Capture3.PNG" alt="">

<p>3 - Comme la pile d’appels est vide, la boucle d’événements supprime la tâche() de la file de callback, la place sur la pile d’appels, et l’exécute :</p>
<p>JavaScript setTimeout Demo</p>
<button (click)="showAlert()">Show</button>
<button (click)="cancelAlert()">Cancel</button>